@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  font-size: 14px;
  font-family: "DM Sans", sans-serif, sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tituloPrincipal {
  font-size: 3rem;
}

h1 {
  font-size: 1.6rem;
  color: #4e4e4e;
  padding: 10px 0px 0px 0px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  color: #505e47;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

p {
  margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word;
}

.p-fondo {
  font-size: 1.8rem;
  color: #F5F5F5;
  font-weight: 500;
  text-transform: uppercase;
}

span {
  font-size: 1.8rem;
  color: #F5F5F5;
  font-weight: 500;
}

form label {
  font-size: 0.8rem;
}

.tituloTarjeta {
  margin-top: 5%;
  color: #a0c2c3;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.subTituloTarjeta {
  margin: 0%;
  color: #4e4e4e;
  display: block;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.pTarjeta {
  margin: 0%;
  width: auto;
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-overflow: clip;
}

.estiloBotonSimple {
  font-size: 1rem;
  font-weight: bold;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buttons button {
  font-size: 0.8rem;
  padding: 3%;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f8cff;
  cursor: pointer;
  margin: 0px 2px 0px 1px !important;
}

.buttons button:hover {
  background-color: #f8efef;
}

@media only screen and (max-width: 1024px) and (min-width: 764px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

@media only screen and (max-width: 764px) and (min-width: 300px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
.conteinerHome {
  padding: 5%;
  margin-right: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteinerHome .container {
  margin-top: 5%;
  text-align: center;
}

.introduccion {
  text-align: center;
  width: 100%;
}

div .parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event_item {
  text-align: left;
  border: 1px solid gainsboro;
}

@media screen and (min-width: 300px) and (max-width: 760px) {
  .parte1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .introduccion {
    margin-top: 5%;
    margin-left: 5%;
    width: 95%;
  }
  .pasafotos {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.light {
  background-color: #fff;
}

.dark {
  margin-left: 65px;
}

.t {
  -webkit-box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}

._header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
  color: #A39D9E;
  font-size: 2rem;
}

._plan {
  margin: 20px 0 40px;
}

.cl_plan {
  width: 100%;
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  -webkit-box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 20px;
  text-align: center;
  color: #fff;
}

.cl_copy {
  font-size: 2rem;
  margin: 20px 0;
  display: inline-block;
}

.cl_add {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 0 65px;
  color: #c2c2c2;
  padding: 11px 13px;
}

._events {
  color: #A39D9E;
}

.event_item {
  margin: 30px 0;
  padding: 10px;
  background-color: #eff0ee;
  cursor: pointer;
}

.event_item:hover {
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  -webkit-box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.event_item:hover .ei_Dot {
  background-color: #fff;
}

.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
  color: #fff;
}

.ei_Dot, .ei_Title {
  display: inline-block;
}

.ei_Dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #A39D9E;
  -webkit-box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
  background-color: #02ee94;
}

.ei_Title {
  margin-left: 10px;
  color: #363b41;
}

.ei_Copy {
  font-size: 12px;
  margin-left: 27px;
}

.dark {
  background-image: linear-gradient(-222deg, #646464, #454545);
  color: #fff;
}

.dark .header_title, .dark .ei_Title, .dark .ce_title {
  color: #fff;
}

@media screen and (max-width: 300px) {
  .parte1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .introduccion {
    margin-top: 5%;
    margin-left: 5%;
    width: 95%;
    height: auto;
  }
  .pasafotos {
    width: 100%;
  }
}
/*# sourceMappingURL=home.component.css.map */