@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  font-size: 14px;
  font-family: "DM Sans", sans-serif, sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tituloPrincipal {
  font-size: 3rem;
}

h1 {
  font-size: 1.4rem;
  color: #4e4e4e;
  padding: 10px 0px 0px 0px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1rem;
  color: #505e47;
  font-weight: bold;
  letter-spacing: 0.1pc;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

p {
  margin: 0% !important;
  width: 100%;
  overflow-wrap: break-word;
}

.p-fondo {
  font-size: 1.8rem;
  color: #F5F5F5;
  font-weight: 500;
  text-transform: uppercase;
}

span {
  font-size: 1.8rem;
  color: #F5F5F5;
  font-weight: 500;
}

form label {
  font-size: 0.8rem;
}

.tituloTarjeta {
  margin-top: 5%;
  color: #a0c2c3;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.subTituloTarjeta {
  margin: 0%;
  color: #4e4e4e;
  display: block;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.pTarjeta {
  margin: 0%;
  width: auto;
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-overflow: clip;
}

.estiloBotonSimple {
  font-size: 1rem;
  font-weight: bold;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buttons button {
  font-size: 0.8rem;
  padding: 3%;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3f8cff;
  cursor: pointer;
  margin: 0px 2px 0px 1px !important;
}

.buttons button:hover {
  background-color: #f8efef;
}

@media only screen and (max-width: 1024px) and (min-width: 764px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

@media only screen and (max-width: 764px) and (min-width: 300px) {
  .tituloTarjeta {
    margin-top: 15%;
    color: #a0c2c3;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .subTituloTarjeta {
    margin: 0%;
    color: #4e4e4e;
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
  .pTarjeta {
    margin: 0%;
    width: auto;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-overflow: clip;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
.navPedidos-productos {
  height: 35%;
  position: static;
  width: 100%;
}

.navPedidos-productos hr {
  width: 100%;
}

.navPedidos-productos div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  width: 90%;
}

.navPedidos-productos div.scrollmenu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 7%;
  font-size: 1.2rem;
}

.navPedidos-productos div.scrollmenu a i {
  margin-left: 5px;
}

.navPedidos-productos div.scrollmenu a:hover {
  color: #313115;
}

.navPedidos-productos .menuPaginaI {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  width: 90%;
  background-color: white;
}

.navPedidos-productos .menuPaginaI a {
  font-size: 1rem;
  color: #313115;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 7%;
  margin-top: 2%;
}

.navPedidos-productos .nav-Secundario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  width: 90%;
}

.navPedidos-productos .conteiner1 {
  width: 0%;
  background: none;
}

.navPedidos-productos .conteiner1 .buttonsLaterales {
  position: fixed;
  top: 250px;
  right: 30px;
  background-color: white;
  border: 1px solid rgba(26, 26, 25, 0.3);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  z-index: 99;
  padding: 10px 10px 10px 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-instagram {
  font-size: 17px;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-home {
  font-size: 17px;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-facebook-square {
  font-size: 17px;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-envelope {
  color: #313115;
  font-size: 17px;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-arrow-circle-up {
  position: absolute;
  bottom: -50%;
  color: #313115;
  font-size: 17px;
}

.navPedidos-productos .conteiner1 .buttonsLaterales .fa-shopping-cart {
  right: 10px;
  bottom: -110%;
  color: rgba(26, 26, 25, 0.3);
  font-size: 30px;
  width: 45px;
  height: 45px;
  padding: 10px 10px 10px 10px;
  border: 1px solid gainsboro;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .menuPaginaI {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
    overflow: auto;
    white-space: nowrap;
    background-color: whitesmoke;
  }
  .menuPaginaI button {
    background: none;
    border: none;
    font: uppercase;
  }
  .conteiner1 .buttonsLaterales .fa-shopping-cart {
    right: 0px !important;
  }
}
/*# sourceMappingURL=nav.component.css.map */