<div class="navNav">
    <hr>
    <div class="scrollmenu">
        <a routerLink="/home">Home</a>
        <a href="">Nosotros</a>
        <a href="">Otra Seccion</a>
        <a (click)="mostrarSubmenuPaginaI()">
        Productos 
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
        <a href="#contacto">Contacto</a>
    </div>

    <div class="conteiner1">
        <div class="buttonsLaterales">
            <button class="fa fa-home" style=" margin-left: 15px;" ></button>
            <button class="fa fa-facebook-square" style="margin-top: 40px; margin-left: 15px;" ></button>
            <button class="fa fa-instagram" style="margin-top: 10px; margin-left: 15px;"></button>
            <button class="fa fa-envelope" style="margin-top: 10px; margin-left: 15px;"></button>
            <button class="fa fa-arrow-circle-up" style=" margin-left: 15px;"></button>
            <div routerLink="/pedidos">
                <button class="fa fa-shopping-cart" style="margin-top: 20px;"> </button>
            </div>
        </div>
    </div> 

    <div *ngIf="mostrar" class="menuPaginaI">
        <div class="nav-Secundario">
            <nav-secundario *ngFor="let c of categorias" 
            [categoria]="c"
            (onClicked)="elegido($event)"
            ></nav-secundario>   
        </div>
    </div>
    
</div>


