      <div class="card">
        <div class="card-text">
          <div class="title-total"> 
            <div>{{mensaje}}</div>
            <div class="list-card" *ngFor="let p of pedidosTodos let i = index " >
              <div class="info-derecha">
                <div class="info">
                  <p style="color: deeppink; font-weight: bold;">Producto:</p>
                  <p >{{p.categoria}}</p>
                  <h3>{{p.titulo}}</h3>
                  <p> $precio </p>
                  <p>Cantidad: {{p.cantidad}}</p>
                </div>
                <div class="list-card-botones" >
                  <button class="botonAdd" (click)="eliminar(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a (click)="finalizarPedido()"
        href="https://api.whatsapp.com/send?phone=5491144163757&text={{pedido}}" 
        style="margin: auto;">
          <i class="fa fa-whatsapp" style="font-size: 30px;" aria-hidden="true"></i>
        </a>
      </div>
