<div class="foto">
	<div style="margin-left: 10%;">
		<div style="display: block; text-align: left; margin-bottom: 2%;" >
			<a (click)="redireccion()" style="cursor: pointer; margin-right: 40px; " >
				<i class="fa fa-window-close" style="font-size: 18px;" aria-hidden="true" ></i>
			</a>
			<a (click)="foto()" style="cursor: pointer;">
				<i class="fa fa-camera-retro " style="font-size: 25px;"   aria-hidden="true" ></i>
			</a>
		</div>
		
	</div>
			<section #screen  id="screen" class="product_CUADRADO">
				<div class="img">
					<img  [src]="'assets/logo.png'" >
				</div>
				<div class="product__photo_CUADRADO">
					<img #img  class="fotoT_CUADRADO" [src]="'assets/' + p.nombreImagen" >
				</div>
				
				<div  class="product__info_CUADRADO">
						<h1>{{p.subtitulo}}</h1>
						<h2>{{p.titulo}}</h2>
						<hr>
						<div class="datos-cuadrado">
							<p style="margin-right: 20px;"><i class="fa fa-whatsapp fa-1x" aria-hidden="true" ></i> tel</p>
							<p><i class="fa fa-envelope" aria-hidden="true"></i> email</p>
						</div>
				</div>
			</section>	
</div>
	
<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>

