@import '../../../styles/tipografias.scss';

* {
	font-family: "Raleway", sans-serif;
}

#screen:hover{
cursor: pointer;
}

div .foto{
	margin-top: 1%;
}

/* ----- CUADRADO --------------------------------------------------------------------------- */

.product_CUADRADO {
	width: 662px;
	height: 662px;
	margin: auto;
	background-color: white;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25%;

	.img img{
		height: 80px;
		margin:2%;
		position: fixed;
		z-index: 999;
	}
	.product__photo_CUADRADO{
		padding: 5px;
		margin:auto;
		width: 70%;
		.fotoT_CUADRADO {
			max-height: 300px;
			max-width: 400px;
			margin-top: 5%;
			margin-bottom: 3%;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 70px;
		
			img{
				width: 100%;
			}
		}

		.logo_CUADRADO{
			padding: 10% 10% 10% 10%;
			height: auto;
		}
	}

	.product__info_CUADRADO {
		margin-left: 10%;
		width: 50%;

		}	
	
}

@media only screen and (min-width: 320px) and (max-width: 650px) {

	.product_CUADRADO {
		width: 362px;
		height: 362px !important;
		margin: auto;
		background-color: white;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25%;
	
		.img img{
			height: 40px;
			position: fixed;
			z-index: 999;
		}
		.product__photo_CUADRADO{
			padding: 5px;
			margin:auto;
			width: 70%;
			.fotoT_CUADRADO {
				max-height: 150px;
				max-width: 300px;
				margin-top: 3%;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 70px;
			
				img{
					width: 100%;
				}
			}
	
			.logo_CUADRADO{
				padding: 10% 10% 10% 10%;
				height: auto;
			}
		}
	
		.product__info_CUADRADO {
			margin-left: 10%;
			width: 50%;
	
			}	
		
	}
	
}
