<div>

	<div class="list-card2">
		<div class="list-card" >
			<div class="foto">
				<img class="imgCard" [src]="'assets/' + p.nombreImagen">
			</div>
			<div class="info-derecha">
				<div class="info">
					<p >{{p.subtitulo}}</p>
					<h3>{{p.titulo}}</h3>
					<p style="margin-bottom: 10px;">{{p.descripcion}}</p>
					<p>codigo: {{p.codigo_producto}}</p>
	
					<p><i class="fa fa-circle" aria-hidden="true" style="margin-right: 3px;"></i>${{p.precio}}</p>

				</div>
			</div>
		</div>
	</div>
</div>


