@import '../../shared/styles/tipografias.scss';

$white: #f5f5f5;
$blue: #03acac;
$amarillo:rgba(169, 214, 43, 0.822);
$dark: #6d6d6b;
$dark2: #313115;
$gris:rgba(26, 26, 25, 0.3);

.display-block{
    display: block;
    a {
        font-size: 1rem;
        color: $dark2;
        text-align: center;
        text-decoration: none;
        margin-left: 7%;
        margin-top: 2%;
        border-right: 1px solid $gris;
        color: gray;
    }
}


