@import '../styles/tipografias.scss';

  $white: #f5f5f5;
  $blue: #03acac;
  $amarillo:rgba(169, 214, 43, 0.822);
  $dark: #6d6d6b;
  $dark2: #313115;
  $gris:rgba(105, 105, 105, 0.3);
  
  .conteinerHome{
    padding: 5%;
    margin-right: 5%;
    justify-content: center;
    .container{
      margin-top: 5%;
      text-align: center;
    }
  }

  .introduccion{
    text-align: center;
    width: 100%;
  }

  div .parte1{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .event_item{
    text-align: left;
    border: 1px solid $color-gris;
  }

  @media screen and (min-width: 300px) and (max-width: 760px) {
  
    .parte1{
      display: flex;
      flex-direction: column !important;
    }

    .introduccion{
      margin-top: 5%;
      margin-left:5%;
      width: 95%;
    }

    .pasafotos{
      width: 100%;
    }


  }

/////////////////////
$off_white:#fafafa;
$light_grey:#A39D9E;
*{
  box-sizing:border-box;
}

body{
  background-color: $off_white;
}


.light{
  background-color: #fff;
}
.dark{
  margin-left: 65px;
}

.t{
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  padding: 20px 30px;
  color:#363b41;
  display: inline-block;
}

._header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:$light_grey;
  font-size:2rem;
}
._plan{
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding:20px;
  text-align: center;
  color:#fff;
}

.cl_copy{
  font-size:2rem;
  margin: 20px 0;
  display: inline-block;
}

.cl_add{
  display: inline-block;
  width: 40px;
  height:40px;
  border-radius:50%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 65px;
  color:#c2c2c2;
  padding: 11px 13px;
}
._events{
  color:$light_grey;
}

.event_item{
  margin: 30px 0;
  padding:10px;
  background-color: $color-gris-claro;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $light_grey;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: #02ee94;
}

.ei_Title{
  margin-left:10px;
  color:#363b41;
}

.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.dark{
  background-image: linear-gradient(-222deg, #646464, #454545);
  color:#fff;
  .header_title,.ei_Title,.ce_title{
    color:#fff;
  }
  
}
////////////////////////////////////

  @media screen and (max-width:300px) {
    .parte1{
      display: flex;
      flex-direction: column !important;
    }

    .introduccion{
      margin-top: 5%;
      margin-left:5%;
      width: 95%;
      height: auto;
    }

    .pasafotos{
      width: 100%;
    }

  }